@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

body {
	font-family: 'Ubuntu';
	text-align: center;
}

p {
	font-size: 2em;
}

a {
	font-size: 2em;
	color: #18AFF5;
	text-decoration: none;
	transition: color .5s;
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-o-transition: color .5s;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

#rectangle {
	text-align: center;
	width: 60%;
	margin: 0px;
	padding: 20px;
	border-radius: 25px;
	border: 3px solid #18AFF5;
}

#signature {
	position: absolute;
	bottom: 5px;
	left: 30px;
}